#account-page.account-page.fadein
  .account-page__inner.clearfix
    .account-page__inner__box.account-page__header
      %h2 新規登録
      %h5 新規アカウントの作成
      
    .account-page__inner__form.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          .field-label
            = f.label :name, "ニックネーム"
          .field-input
            = f.text_field :name, autofocus: true, placeholder: '名前を入力(必須)'
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, placeholder: 'メールアドレスを入力（必須）'
        .field
          .field-label
            = f.label :password
            %i (英数字6文字以上128文字以内)
          .field-input
            = f.password_field :password, autocomplete: "off", placeholder: 'パスワードを入力'
        .field
          .field-label
            = f.label :password_confirmation
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワードを入力（確認）'
        .actions.displayflex
          = f.submit "新規登録する", class: 'account-register-btn'
          = render "devise/shared/links"

  .main-box-footer        
