  
.articles-box
  - @articles.each do |article|
    .article-post.displayflex
      .article-post-content
        .article-post__title
          = article.title
        .article-post__text  
          = article.text
        .users-resource-select.displayflex
          .users-resource-select__name  
            = article.user.name
          .users-resource-select__detail
            = link_to '詳細', "/articles/#{article.id}", method: :get
          - if user_signed_in? && current_user.id == article.user_id
            .users-resource-select__edit
              = link_to '編集', "/articles/#{article.id}/edit", method: :get
            .users-resource-select__dlete
              = link_to '削除', "/articles/#{article.id}", method: :delete  
      .article-post__image  
        = image_tag article.image.url, class: 'article-post__image' if article.image.present?
  
  .kaminari
    = paginate(@articles)
      

   



    




