.header-low
  .header-low__row
    .left-header-low-btn.displayflex
      .main-contents-categories.displayflex
        .main-contents-categories__dogs
          = fa_icon 'paw', class: 'content-dark__icon'
          犬
        .main-contents-categories__cats
          = fa_icon 'paw', class: 'content-dark__icon'
          猫
        .main-contents-categories__smallanimals
          = fa_icon 'paw', class: 'content-dark__icon'
          小動物
        .main-contents-categories__others
          = fa_icon 'paw', class: 'content-dark__icon'
          その他
      .main-contents-other.displayflex
        .main-contents-other__follow
          = fa_icon 'leaf', class: 'content-dark__icon'
          フォロー
        .main-contents-other__myitem
          = fa_icon 'star', class: 'content-dark__icon'
          マイアイテム
        .main-contents-other__event
          = fa_icon 'search-plus', class: 'content-dark__icon'
          詳細検索

    .right-header-low-btn 
      .tweet-order 
        .tweet-order__new
          つぶやき
        -# .tweet-order__popularity
        -#   人気記事
