.index-render-container#101
  .index-render-box-category-walk.index-render-box-lightgreen#31
    = link_to walk_categories_path(@articles_walk) do
      %p4 カテゴリ：散歩・おでかけ
      = render partial: 'articles/article', collection: @articles_walk
    = link_to walk_categories_path(@articles_walk) do
      .category-show
        もっと見る
  .index-render-box-category-discipline.index-render-box-green#32
    = link_to discipline_categories_path(@articles_discipline) do            
      %p4 カテゴリ：しつけ
      = render partial: 'articles/article', collection: @articles_discipline
    = link_to discipline_categories_path(@articles_discipline) do
      .category-show
        もっと見る          
  .index-render-box-category-sick.index-render-box-lightgreen#33
    = link_to sick_categories_path(@articles_sick) do
      %p4 カテゴリ：怪我・病気・予防・介護
      = render partial: 'articles/article', collection: @articles_sick
    = link_to sick_categories_path(@articles_sick) do
      .category-show
        もっと見る          
  .index-render-box-category-life.index-render-box-green#34
    = link_to life_categories_path(@articles_life) do
      %p4 カテゴリ：くらし・生活・日常
      = render partial: 'articles/article', collection: @articles_life
    = link_to life_categories_path(@articles_life) do
      .category-show
        もっと見る          
  .index-render-box-category-food.index-render-box-lightgreen#35
    = link_to food_categories_path(@articles_food) do
      %p4 カテゴリ：エサ・食事
      = render partial: 'articles/article', collection: @articles_food  
    = link_to food_categories_path(@articles_food) do
      .category-show
        もっと見る    
  .index-render-box-category-rearing.index-render-box-green#36
    = link_to rearing_categories_path(@articles_rearing) do
      %p4 カテゴリ：ケア・飼育方法
      = render partial: 'articles/article', collection: @articles_rearing  
    = link_to rearing_categories_path(@articles_rearing) do
      .category-show
        もっと見る           
  .index-render-box-category-question.index-render-box-lightgreen#37
    = link_to question_categories_path(@articles_question) do
      %p4 カテゴリ：Q & A
      = render partial: 'articles/article', collection: @articles_question
    = link_to question_categories_path(@articles_question) do
      .category-show
        もっと見る           
  .index-render-box-category-success-failure-story.index-render-box-green#38
    = link_to  story_categories_path(@articles_story) do
      %p4 カテゴリ：成功談・失敗談
      = render partial: 'articles/article', collection: @articles_story
    = link_to  story_categories_path(@articles_story) do
      .category-show
        もっと見る           
  .index-render-box-category-petloss.index-render-box-lightgreen#39
    = link_to petloss_categories_path(@articles_petloss) do
      %p4 カテゴリ：迷子
      = render partial: 'articles/article', collection: @articles_petloss
    = link_to petloss_categories_path(@articles_petloss) do
      .category-show
        もっと見る
  .index-render-box-category-other.index-render-box-green#40
    = link_to other_categories_path(@articles_other) do
      %p4 カテゴリ：その他
      = render partial: 'articles/article', collection: @articles_other 
    = link_to other_categories_path(@articles_other) do
      .category-show
        もっと見る            