.contents-box.fadein
  = form_with model: @article, local: true, multiple: true, html: {class: "new__form"}  do |f|
    .article-post-main-view
      %h3
      .file-form-box 
        .dropzone-container-edit.displayflex
          #preview-image  
          = f.fields_for :images, @article.images do |pic|
            .dropzone-preview-edit
              .img_box-container       
                .img_box
                  -  if @length >=1
                    = image_tag "#{pic.object.url.thumb.url}", class: "article-edit-img"
                    .img_box_delete-heading
                      削除画像をチェック
                    .img_box_delete
                      削除する: 
                      = pic.check_box :_destroy
                  -  if @length == 0    
                    .article-edit-img-empty
                  -# = link_to '削除',pic.object, method: :delete, data: { confirm: "写真を削除します"}
                  -# - @article.images.each do |picture|
              .dropzone-area-edit
                = pic.label :url, class: 'dropzone-area__label', for: "input-box-image"  do
                  .input-area-container.displayflex 
                    .input_area
                      = pic.file_field :url, multiple: true, name: 'images[url][]', class: 'input-box-image input-box-image-edit', id: 'input-box-image', 'data-image': 0                
                    .choice_area
                      .choice_area__heading
                        追加画像を選択
                        %br 最大５枚
                      .choice_area__text
                        画像を
                        %br 選択して下さい
        .new-article
          .input-box-title
            = f.label :title, class: 'input-box-title', for: "input-box-title"  do
              = f.text_field :title, class: "input-box-title", placeholder:"タイトル（必須40文字まで）",id: "input-box-title", rows: 1
          .input-box-text  
            = f.label :content, class: 'input-box-text', for: "input-box-text" do         
              = f.text_area :content, class: "input-box-text", placeholder:"テキスト（必須1000文字まで）",id: "input-box-text", rows: 5
        .new-article-select-heading-box
          .new-article-select-box-heading
            選択必須
        .new-article-select-box  
          .input-box-select.displayflex
            .new-article-select-box-heading
              カテゴリ
            = f.collection_select(:category_id, @categories, :id, :name,{prompt: "--------"}, class: "input-box-select-area") 
              
      .input-box-image__del
        = f.submit '編集する', class: 'form__edit'
    .main-box-footer-edit
