.contents-box
  = form_with model: @article, local: true, html: {class: "new__form"}  do |f|
    %h3
      編集する
    .input-box-title
      = f.text_area :title, class: "input-box-title", rows: 1, placeholder:"タイトル", maxlength: 35, type: "string"
    .input-box-text  
      = f.text_area :text, class: "input-box-text ", rows: 5, placeholder:"テキスト", maxlength: 35, type: "text"

    .input-box-image  
      = f.label :image, class: 'input-box-image', for: "input-box-image"  do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden', id: 'input-box-image'    
    .input-box-image__del
      = f.submit 'Send', class: 'form__submit'