.contents-box
  = form_with model: @article, local: true do |f|
    %h3
      投稿する

      -# .dropzone-container
      -#   .dropzone-preview.displayflex
      -#     = f.fields_for :images do |g|  
      -#       .dropzone-area  
      -#         = g.label :url, class: 'dropzone-area__label', for: "input-box-image"  do
      -#           = fa_icon 'picture-o', class: 'dropzone-area-icon'
      -#           .file_input_area
      -#             = g.file_field :url, multiple: true, name: 'images[url][]', class: 'input-box-image', id: 'input-box-image'   
                
      .new-article
        .input-box-title
          = f.label :title, class: 'input-box-title', for: "input-box-title"  do
            タイトル
            = f.text_field :title, class: "input-box-title", placeholder:"タイトル",id: "input-box-title"
          
        .input-box-text  
          = f.label :content, class: 'input-box-text', for: "input-box-text" do         
            投稿内容
            = f.text_area :content, class: "input-box-text", placeholder:"テキスト",id: "input-box-text"
            -# %textarea{:cols => "30", :name => "text", :placeholder => "", :type => "text", :rows => "10"}
          

      .input-box-image__del
        = f.submit '投稿する', class: 'form__submit' 
      
        -# .input-box-image 
        -#   = f.label :image, class: 'input-box-image', for: "input-box-image"  do
        -#     = fa_icon 'picture-o', class: 'icon'
        -#     = f.file_field :image, class: 'hidden', id: 'input-box-image'
        -#   -# %input{:name => "image", :placeholder => "Image", :type => "file"}/
        -# .input-box-submit  
        -#   = f.submit 'Send', class: 'form__submit'
          



  -# = form_with(model: Article.create, local: true, multipart: true ) do |f|
