.contents-box
  = current_user.name
    %p
    = @name
    さんの投稿一覧
    .article-detail__name  
    - @articles.each do |article|
    .article-detail__content
    .article-post
      .article-post-content
        .article-post__title
        .article-detail__title
          = article.title
        .article__text  
        .article-detail__text
          = article.text
      .article-post__image  
        = image_tag article.image.url, class: 'article-post__image' if article.image.present?
  .kaminari
    = paginate(@articles)

