#account-page.account-page.fadein
  .account-page__inner.clearfix
    .account-page__inner__box.account-page__header
      %h2 ログイン
      %h5 登録しているユーザーでログイン
      
      .account-page__inner__form.user-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email, autofocus: true
            .field
              .field-label
                = f.label :password
                %i (英数字8文字以上20文字以下)
              .field-input
                = f.password_field :password, autocomplete: "off", size: 30, maxlength: 20
            .actions.displayflex
              = f.submit "ログインする", class: 'account-register-btn'
              = render "devise/shared/links"
  .main-box-footer             
