.header-select-btn
  = render 'articles/header-btn' 

.main-index-box.displayflex
  .main-contents.fadein
    .index-render-container
      .index-render    
        .index-render-box-category-walk.index-render-box-lightgreen
          %p4 #{@categories[3].name}
          = render partial: 'articles/article', collection: @articles_life
      .kaminari-category
        = paginate(@articles_life)          
  .side-bar
    = render 'shared/side-bar'         