.header-low
  .header-low__row
    .left-header-low-btn.displayflex
      .main-contents-categories.displayflex
        %li.main-contents-categories__genres
          = fa_icon 'paw', class: 'header-btn__icon'
          = link_to "ジャンル選択へ", root_path, method: :get

        %li.main-contents-categories__categories
          = fa_icon 'paw', class: 'header-btn__icon'
          = link_to "カテゴリ選択へ", root_path, method: :get

        .main-contents-categories__ranking
          = fa_icon 'paw', class: 'header-btn__icon'
          ランキング
        .main-contents-categories__lost_child
          = fa_icon 'paw', class: 'header-btn__icon'
          カレンダー
      .main-contents-other.displayflex
        -# .main-contents-other__follow
        -#   = fa_icon 'leaf', class: 'header-btn__icon'
        -#   フォロー
        .main-contents-other__myitem
          = fa_icon 'star', class: 'header-btn__icon'
          マイアイテム
        .main-contents-other__detailed-search
          = fa_icon 'search-plus', class: 'header-btn__icon'
          詳細検索
        .main-contents-other__order 
          キャンバス  
          = fa_icon 'comment', class: 'header-btn__icon'
            
