!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Articleapp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = include_gon
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'
.wrapper
  .header
    .header-bar__row
      .left-header-bar__row.displayflex
        .header__logo          
          = link_to "PetMeeting", root_path, method: :get
        .header-navi
          = fa_icon 'paw', class: 'content-dark__icon'
          はじめに
        .header-navi-dropdown
          .header-navi-icon
            = fa_icon 'angle-double-down', class: 'header-first-dropdown__icon'
          .header-first-dropdown__item
          .header-first-dropdown__item
        .header-navi
          = fa_icon 'users', class: 'content-dark__icon'
          コミュニティ
        .header-navi-dropdown  
          .header-navi-icon
            = fa_icon 'angle-double-down', class: 'header-first-dropdown__icon'
          .header-first-dropdown__item
          .header-first-dropdown__item
           

      .right-header-bar__row.displayflex
        .right-bar-search.displayflex
          .right-bar-search__heading
            = fa_icon 'search', class: 'content-dark__icon'
            検索する
          .right-bar-search__keyword
            %form.form
            .keyword-search
              %input{:type => "hidden"}/
              .input-box
                %input{:type => "text", :placeholder => "検索キーワード入力"}/
              .input.submit-btn{"data-disable-with" => "Send", :type => "submit", :value => "Send"}/
              %span
                        
      - if user_signed_in?
        .user-info-list.displayflex      
          .user-info-list__like
            = fa_icon 'heart', class: 'content-dark__icon'
            いいね一覧
          .user-info-list__contribution
            = fa_icon 'sticky-note', class: 'content-dark__icon'
            = link_to "投稿する", new_article_path, method: :get
          .user-info-list__name  
            = fa_icon 'user', class: 'content-dark__icon'
            = current_user.name
            %ul.user-info-mypage
              %li
                %a{:href => "/users/#{current_user.id}"} マイページ
                = link_to "ログアウト", destroy_user_session_path, method: :delete
                
      - else
        .right-header-login.displayflex
          .right-header-login__signin
            = link_to "ログイン", new_user_session_path, :class => 'post'
          .right-header-login__register
            = link_to "新規登録", new_user_registration_path, :class => 'post'
  .gretel-box
    = breadcrumbs separator: "＞"




  .main-box.displayflex
    = yield
  
  .footer
