!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Articleapp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'
.wrapper
  .header
    .header__bar__row
      .left-header__bar__row
        .header__logo          
          = link_to "PetMeeting", root_path, method: :get
        .header__first
          First
        .header__first__dropdown
          = fa_icon 'angle-double-down', class: 'header__first__dropdown__icon'
          .header__first__dropdownItem
          .header__first__dropdownItem
        .header__english
           

      .right-header__bar__row
        .right-header__bar__row__search
          検索する
          .right-header__bar__row__search__keyword
            %form.form
            .keyword-search
              %input{:type => "hidden"}/
              .input-box
                %input{:type => "text", :placeholder => "type a keyword"}/
              .input.submit-btn{"data-disable-with" => "Send", :type => "submit", :value => "Send"}/
              %span
                        
      - if user_signed_in?
        .user-info-list      
          .user-info-list__like
            いいね一覧
          .user-info-list__contribution
            = link_to "投稿する", new_article_path, method: :get
          .user-info-list__name  
            = current_user.name
            %ul.user-info-mypage
              %li
                %a{:href => "/users/#{current_user.id}"} マイページ
                = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        .right-header__bar__row__login
          .right-header__bar__row__login__signin
            = link_to "ログイン", new_user_session_path, :class => 'post'
          .right-header__bar__row__login__register
            = link_to "新規登録", new_user_registration_path, :class => 'post'


  .header-btn
    .left-header-btn
      .main-contents__categories
        .main-contents__categories__dogs
          犬
        .main-contents__categories__cats
          猫
        .main-contents__categories__smallanimals
          小動物
        .main-contents__categories__others
          その他
    .right-header-btn 
      .ranking-order     
        .ranking-order__new
          新着順
        .ranking-order__popularity
          人気順

  .main-box  
    = yield
  
  .footer
